# dataset.py

### Command to create an empty dataset in AutoML dataset

In [44]:
! python dataset.py create_dataset --dataset_name train

Dataset name: projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152
Dataset id: TBL2048777190639665152
Dataset display name: train
Dataset metadata:
	stats_update_time {
}

Dataset example count: 0
Dataset create time:
	seconds: 1564459116
	nanos: 304512000

### Command to list of existing dataset info in AutoML dataset

In [ ]:
! python dataset.py list_datasets

### Command to import new data into an existing empty AutoML dataset

In [45]:
! python dataset.py import_data --dataset_id TBL2048777190639665152 --path "bq://hackathon1-183523.demo3_v2.train"

Processing import...
Data imported.

### Command to list of existing dataset info in AutoML, to make sure the import is successful

In [ ]:
! python dataset.py list_datasets

### Schema review

In [46]:
! python dataset.py schema_review --dataset_name "projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152"

Feature name:start_month
Feature name:FLOAT64

Feature name:dayOfWeek
Feature name:CATEGORY

Feature name:start_hour
Feature name:FLOAT64

Feature name:pickup_longitude
Feature name:FLOAT64

Feature name:price_per_mile
Feature name:FLOAT64

Feature name:trip_miles
Feature name:FLOAT64

Feature name:dropoff_longitude
Feature name:FLOAT64

Feature name:dayOfYear
Feature name:FLOAT64

Feature name:trip_seconds
Feature name:FLOAT64

Feature name:pickup_latitude
Feature name:FLOAT64

Feature name:dropoff_latitude
Feature name:FLOAT64

### list table spec id of the dataset

In [48]:
! python dataset.py list_table_specs --dataset_id TBL2048777190639665152

List of table specs:
Table spec name: projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632
Table spec id: 873927026128453632
Table spec time column spec id:
Table spec row count: 27589
Table spec column count: 11

### list each column spec info in the table

In [55]:
! python dataset.py list_column_specs --dataset_id TBL2048777190639665152 --table_spec_id 873927026128453632

List of column specs:
Column spec name: projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/8535310854332088320
Column spec id: 8535310854332088320
Column spec display name: trip_miles
Column spec data type: type_code: FLOAT64

Column spec name: projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/6805928597421817856
Column spec id: 6805928597421817856
Column spec display name: pickup_latitude
Column spec data type: type_code: FLOAT64

Column spec name: projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/3347164083601276928
Column spec id: 3347164083601276928
Column spec display name: pickup_longitude
Column spec data type: type_code: FLOAT64

Column spec name: projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/2194242578994429952
Column spec id: 2194242578994429952
Column spec display name: dropoff_latitude
Column spec data type: type_code: FLOAT64

Column spec name: projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/5653007092814970880
Column spec id: 5653007092814970880
Column spec display name: dropoff_longitude
Column spec data type: type_code: FLOAT64

Column spec name: projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/3923624835904700416
Column spec id: 3923624835904700416
Column spec display name: start_month
Column spec data type: type_code: FLOAT64

Column spec name: projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/4500085588208123904
Column spec id: 4500085588208123904
Column spec display name: start_hour
Column spec data type: type_code: FLOAT64

Column spec name: projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/104572351894519808
Column spec id: 104572351894519808
Column spec display name: dayOfWeek
Column spec data type: type_code: CATEGORY

Column spec name: projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/7958850102028664832
Column spec id: 7958850102028664832
Column spec display name: trip_seconds
Column spec data type: type_code: FLOAT64

Column spec name: projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/1041321074387582976
Column spec id: 1041321074387582976
Column spec display name: dayOfYear
Column spec data type: type_code: FLOAT64

Column spec name: projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/9111771606635511808
Column spec id: 9111771606635511808
Column spec display name: price_per_mile
Column spec data type: type_code: FLOAT64

target_column_spec_id: 9111771606635511808

### get dataset

In [56]:
! python dataset.py get_dataset --dataset_id TBL2048777190639665152

Dataset name: projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152
Dataset id: TBL2048777190639665152
Dataset display name: train
Dataset metadata:
	primary_table_spec_id: "873927026128453632"
stats_update_time {
  seconds: 1564459274
  nanos: 999000000
}

Dataset example count: 27589
Dataset create time:
	seconds: 1564459116
	nanos: 304512000

### get table spec info

In [57]:
! python dataset.py get_table_spec --dataset_id TBL2048777190639665152 --table_spec_id 873927026128453632

Table spec name: projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632
Table spec id: 873927026128453632
Table spec time column spec id:
Table spec row count: 27589
Table spec column count: 11

### get column spec id

In [58]:
! python dataset.py get_column_spec --dataset_id TBL2048777190639665152 --table_spec_id 873927026128453632 --column_spec_id 9111771606635511808

Column spec name: projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/9111771606635511808
Column spec id: 9111771606635511808
Column spec display name: price_per_mile
Column spec data type: type_code: FLOAT64

Column spec data stats: distinct_value_count: 3249
float64_stats {
  mean: 6.26339242877
  standard_deviation: 4.0244233649
  quantiles: 0.00172413793103
  quantiles: 4.14746543779
  quantiles: 5.38461538462
  quantiles: 6.875
  quantiles: 95.0
  histogram_buckets {
    min: -inf
    max: 9.50155172414
    count: 25103
  }
  histogram_buckets {
    min: 9.50155172414
    max: 19.0013793103
    count: 2239
  }
  histogram_buckets {
    min: 19.0013793103
    max: 28.5012068966
    count: 118
  }
  histogram_buckets {
    min: 28.5012068966
    max: 38.0010344828
    count: 67
  }
  histogram_buckets {
    min: 38.0010344828
    max: 47.500862069
    count: 15
  }
  histogram_buckets {
    min: 47.500862069
    max: 57.0006896552
    count: 11
  }
  histogram_buckets {
    min: 57.0006896552
    max: 66.5005172414
    count: 17
  }
  histogram_buckets {
    min: 66.5005172414
    max: 76.0003448276
    count: 6
  }
  histogram_buckets {
    min: 76.0003448276
    max: 85.5001724138
    count: 10
  }
  histogram_buckets {
    min: 85.5001724138
    max: inf
    count: 3
  }
}
valid_value_count: 27589

Column spec top correlated columns

### set target column

In [59]:
! python dataset.py update_dataset --dataset_id TB L2048777190639665152 --target_column_spec_id 9111771606635511808

Dataset updated. name: "projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152"
display_name: "train"
create_time {
  seconds: 1564459116
  nanos: 304512000
}
etag: "AB3BwFodyMqXuysx0ztQQZFkfF-8Xx0u-shoseTLC9Ak3xqMTYC15mzgbsybMI1gHuw="
example_count: 27589
tables_dataset_metadata {
  primary_table_spec_id: "873927026128453632"
  target_column_spec_id: "9111771606635511808"
  stats_update_time {
    seconds: 1564459274
    nanos: 999000000
  }
}

# model.py

### list existing model

In [61]:
! python model.py list_models

List of models:
Model name: projects/401832599639/locations/us-central1/models/TBL2266814744474157056
Model id: TBL2266814744474157056
Model display name: demo3_v2
Target column display name: price_per_mile
Training budget in node milli hours: 5000
Training cost in node milli hours: 1896
Model create time:
	seconds: 1563997966
	nanos: 318460000
Model deployment state: undeployed


Model name: projects/401832599639/locations/us-central1/models/TBL1843194904524619776
Model id: TBL1843194904524619776
Model display name: demo3_v2_20190719114017
Target column display name: price_per_mile
Training budget in node milli hours: 6000
Training cost in node milli hours: 2108
Model create time:
	seconds: 1563604863
	nanos: 376318000
Model deployment state: undeployed


Model name: projects/401832599639/locations/us-central1/models/TBL4988132411498823680
Model id: TBL4988132411498823680
Model display name: demo3_model
Target column display name: fare_dollars
Training budget in node milli hours: 5000
Training cost in node milli hours: 2188
Model create time:
	seconds: 1561593831
	nanos: 861186000
Model deployment state: undeployed


Model name: projects/401832599639/locations/us-central1/models/TBL3721389463184605184
Model id: TBL3721389463184605184
Model display name: ct_autoML_20190515051833
Target column display name: fare
Training budget in node milli hours: 2000
Training cost in node milli hours: 2000
Model create time:
	seconds: 1557965932
	nanos: 563065000
Model deployment state: undeployed


Model name: projects/401832599639/locations/us-central1/models/TBL7641491463833911296
Model id: TBL7641491463833911296
Model display name: bf_autoML_20190515113038
Target column display name: log_pt
Training budget in node milli hours: 2000
Training cost in node milli hours: 767
Model create time:
	seconds: 1557945059
	nanos: 757381000
Model deployment state: undeployed


Model name: projects/401832599639/locations/us-central1/models/TBL5484267242323443712
Model id: TBL5484267242323443712
Model display name: bf_autoML_20190515093147
Target column display name: log_pt
Training budget in node milli hours: 2000
Training cost in node milli hours: 909
Model create time:
	seconds: 1557938190
	nanos: 728925000
Model deployment state: undeployed

### training model

In [62]:
! python model.py create_model --dataset_id TBL2048777190639665152 --model_name demo3_v2 --train_budget_milli_node_hours 2000

Training model...
Training operation name: projects/401832599639/locations/us-central1/operations/TBL8016561268347371520
Training completed: name: "projects/401832599639/locations/us-central1/models/TBL6421666875700150272"

### get status

In [63]:
! python model.py get_operation_status --operation_full_id "projects/401832599639/locations/us-central1/operations/TBL8016561268347371520"

Operation status: name: "projects/401832599639/locations/us-central1/operations/TBL8016561268347371520"
metadata {
  type_url: "type.googleapis.com/google.cloud.automl.v1beta1.OperationMetadata"
  value: "\032\014\010\262\212\377\351\005\020\200\262\307\273\003\"\014\010\331\302\377\351\005\020\350\257\327\233\003R\000"
}
done: true
response {
  type_url: "type.googleapis.com/google.cloud.automl.v1beta1.Model"
  value: "\nIprojects/401832599639/locations/us-central1/models/TBL6421666875700150272"
}

### list existing model again

In [64]:
! python model.py list_models

List of models:
Model name: projects/401832599639/locations/us-central1/models/TBL6421666875700150272
Model id: TBL6421666875700150272
Model display name: demo3_v2
Target column display name: price_per_mile
Training budget in node milli hours: 2000
Training cost in node milli hours: 1949
Model create time:
	seconds: 1564460338
	nanos: 930208000
Model deployment state: undeployed

### get model metadata

In [65]:
! python model.py get_model --model_id TBL6421666875700150272

Model name: projects/401832599639/locations/us-central1/models/TBL6421666875700150272
Model id: TBL6421666875700150272
Model display name: demo3_v2
Model metadata:
target_column_spec {
  name: "projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/9111771606635511808"
  data_type {
    type_code: FLOAT64
  }
  display_name: "price_per_mile"
}
input_feature_column_specs {
  name: "projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/8535310854332088320"
  data_type {
    type_code: FLOAT64
  }
  display_name: "trip_miles"
}
input_feature_column_specs {
  name: "projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/6805928597421817856"
  data_type {
    type_code: FLOAT64
  }
  display_name: "pickup_latitude"
}
input_feature_column_specs {
  name: "projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/3347164083601276928"
  data_type {
    type_code: FLOAT64
  }
  display_name: "pickup_longitude"
}
input_feature_column_specs {
  name: "projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/2194242578994429952"
  data_type {
    type_code: FLOAT64
  }
  display_name: "dropoff_latitude"
}
input_feature_column_specs {
  name: "projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/5653007092814970880"
  data_type {
    type_code: FLOAT64
  }
  display_name: "dropoff_longitude"
}
input_feature_column_specs {
  name: "projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/3923624835904700416"
  data_type {
    type_code: FLOAT64
  }
  display_name: "start_month"
}
input_feature_column_specs {
  name: "projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/4500085588208123904"
  data_type {
    type_code: FLOAT64
  }
  display_name: "start_hour"
}
input_feature_column_specs {
  name: "projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/104572351894519808"
  data_type {
    type_code: CATEGORY
  }
  display_name: "dayOfWeek"
}
input_feature_column_specs {
  name: "projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/7958850102028664832"
  data_type {
    type_code: FLOAT64
  }
  display_name: "trip_seconds"
}
input_feature_column_specs {
  name: "projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/1041321074387582976"
  data_type {
    type_code: FLOAT64
  }
  display_name: "dayOfYear"
}
optimization_objective: "MINIMIZE_RMSE"
tables_model_column_info {
  column_spec_name: "projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/5653007092814970880"
  column_display_name: "dropoff_longitude"
  feature_importance: 0.00614165654406
}
tables_model_column_info {
  column_spec_name: "projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/7958850102028664832"
  column_display_name: "trip_seconds"
  feature_importance: 0.228723555803
}
tables_model_column_info {
  column_spec_name: "projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/6805928597421817856"
  column_display_name: "pickup_latitude"
  feature_importance: 0.00759941898286
}
tables_model_column_info {
  column_spec_name: "projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/3923624835904700416"
  column_display_name: "start_month"
  feature_importance: 0.0120963044465
}
tables_model_column_info {
  column_spec_name: "projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/3347164083601276928"
  column_display_name: "pickup_longitude"
  feature_importance: 0.00472622970119
}
tables_model_column_info {
  column_spec_name: "projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/4500085588208123904"
  column_display_name: "start_hour"
  feature_importance: 0.0040819812566
}
tables_model_column_info {
  column_spec_name: "projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/2194242578994429952"
  column_display_name: "dropoff_latitude"
  feature_importance: 0.0146663384512
}
tables_model_column_info {
  column_spec_name: "projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/104572351894519808"
  column_display_name: "dayOfWeek"
  feature_importance: 0.00144186883699
}
tables_model_column_info {
  column_spec_name: "projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/1041321074387582976"
  column_display_name: "dayOfYear"
  feature_importance: 0.00862044561654
}
tables_model_column_info {
  column_spec_name: "projects/401832599639/locations/us-central1/datasets/TBL2048777190639665152/tableSpecs/873927026128453632/columnSpecs/8535310854332088320"
  column_display_name: "trip_miles"
  feature_importance: 0.711902201176
}
train_budget_milli_node_hours: 2000
train_cost_milli_node_hours: 1949

Model create time:
	seconds: 1564460338
	nanos: 930208000
Model deployment state: undeployed

### list existing model eval

In [66]:
! python model.py list_model_evaluations --model_id TBL6421666875700150272

List of model evaluations:
Model evaluation name: projects/401832599639/locations/us-central1/models/TBL6421666875700150272/modelEvaluations/6111684240868882258
Model evaluation id: 6111684240868882258
Model evaluation example count: 2730
Model evaluation time:
	seconds: 1564467545
	nanos: 763450000

### get evaluation

In [67]:
! python model.py get_model_evaluation --model_id TBL6421666875700150272 --model_evaluation_id 6111684240868882258

name: "projects/401832599639/locations/us-central1/models/TBL6421666875700150272/modelEvaluations/6111684240868882258"
create_time {
  seconds: 1564467545
  nanos: 763450000
}
evaluated_example_count: 2730

### display evaluation

In [68]:
! python model.py display_evaluation --model_id TBL6421666875700150272

Model regression metrics:
Model RMSE: 0.673336327076
Model MAE: 0.191971749067
Model MAPE: 2.98208236694
Model R^2: 0.968206346035

### deploy

In [84]:
! python model.py deploy_model --model_id TBL6421666875700150272

Model deployed.

# predict.py

### batch prediction

In [70]:
! python predict.py batch_predict --model_id TBL6421666875700150272 --input_path "bq://hackathon1-183523.demo3_v2.test" --output_path "bq://hackathon1-183523"

Making batch prediction...
Batch prediction complete.
create_time {
  seconds: 1564467863
  nanos: 139172000
}
update_time {
  seconds: 1564468144
  nanos: 960466000
}
batch_predict_details {
  input_config {
    bigquery_source {
      input_uri: "bq://hackathon1-183523.demo3_v2.test"
    }
  }
  output_info {
    bigquery_output_dataset: "bq://hackathon1-183523.prediction_demo3_v2_2019_07_29T23_24_23_105Z"
  }
}

### online prediction

In [83]:
! python predict.py predict --model_id TBL6421666875700150272 --file_path 'test.csv'

{'payload': {'row': {'values': [1.4, 41.880994471, -87.632746489, 41.89321636, -87.63784421, 1.0, 5.0, 3.0, 614.0, 16.0]}}}
{
  "payload": [
    {
      "tables": {
        "value": 5.6498265266418457,
        "predictionInterval": {
          "start": 5.0159544944763184,
          "end": 10.733982086181641
        }
      }
    }
  ]
}
0
{'payload': {'row': {'values': [1.11, 41.892042136, -87.63186395, 41.900221297, -87.629105186, 5.0, 19.0, 6.0, 597.0, 138.0]}}}
{
  "payload": [
    {
      "tables": {
        "value": 6.6522116661071777,
        "predictionInterval": {
          "start": 5.19624137878418,
          "end": 10.733982086181641
        }
      }
    }
  ]
}
0
Done prepare payload for online prediction.

In [80]:
! curl -X POST -H "Content-Type: application/json" \
  -H "Authorization: Bearer $(gcloud auth application-default print-access-token)" \
  https://automl.googleapis.com/v1beta1/projects/hackathon1-183523/locations/us-central1/models/TBL6421666875700150272:predict \
  -d @request.json

{
  "payload": [
    {
      "tables": {
        "value": 8.3914804458618164,
        "predictionInterval": {
          "start": 6.6885089874267578,
          "end": 12.913139343261719
        }
      }
    }
  ]
}