# dataset.py

### Command to create an empty dataset in AutoML dataset

In [1]:
! python dataset.py create_dataset --dataset_name train

Dataset name: projects/401832599639/locations/us-central1/datasets/TBL7687283924107526144
Dataset id: TBL7687283924107526144
Dataset display name: train
Dataset metadata:
	stats_update_time {
}

Dataset example count: 0
Dataset create time:
	seconds: 1564496871
	nanos: 340824000

### Command to list of existing dataset info in AutoML dataset

In [ ]:
! python dataset.py list_datasets

### Command to import new data into an existing empty AutoML dataset

In [2]:
! python dataset.py import_data --dataset_id TBL7687283924107526144 --path "bq://hackathon1-183523.demo3_v2.train"

Processing import...
Data imported.

### Command to list of existing dataset info in AutoML, to make sure the import is successful

In [ ]:
! python dataset.py list_datasets

### Schema review

In [3]:
! python dataset.py schema_review --dataset_name "projects/401832599639/locations/us-central1/datasets/TBL7687283924107526144"

Feature name:start_month
Feature name:FLOAT64

Feature name:dayOfWeek
Feature name:CATEGORY

Feature name:start_hour
Feature name:FLOAT64

Feature name:pickup_longitude
Feature name:FLOAT64

Feature name:price_per_mile
Feature name:FLOAT64

Feature name:trip_miles
Feature name:FLOAT64

Feature name:dropoff_longitude
Feature name:FLOAT64

Feature name:dayOfYear
Feature name:FLOAT64

Feature name:trip_seconds
Feature name:FLOAT64

Feature name:pickup_latitude
Feature name:FLOAT64

Feature name:dropoff_latitude
Feature name:FLOAT64

### list table spec id of the dataset

In [4]:
! python dataset.py list_table_specs --dataset_id TBL7687283924107526144

List of table specs:
Table spec name: projects/401832599639/locations/us-central1/datasets/TBL7687283924107526144/tableSpecs/5409614800843964416
Table spec id: 5409614800843964416
Table spec time column spec id:
Table spec row count: 27589
Table spec column count: 11

### list each column spec info in the table

In [5]:
! python dataset.py list_column_specs --dataset_id TBL7687283924107526144 --table_spec_id 5409614800843964416

List of column specs:
Column spec name: projects/401832599639/locations/us-central1/datasets/TBL7687283924107526144/tableSpecs/5409614800843964416/columnSpecs/3796398146431483904
Column spec id: 3796398146431483904
Column spec display name: trip_miles
Column spec data type: type_code: FLOAT64

Column spec name: projects/401832599639/locations/us-central1/datasets/TBL7687283924107526144/tableSpecs/5409614800843964416/columnSpecs/4949319651038330880
Column spec id: 4949319651038330880
Column spec display name: pickup_latitude
Column spec data type: type_code: FLOAT64

Column spec name: projects/401832599639/locations/us-central1/datasets/TBL7687283924107526144/tableSpecs/5409614800843964416/columnSpecs/914094384914366464
Column spec id: 914094384914366464
Column spec display name: pickup_longitude
Column spec data type: type_code: FLOAT64

Column spec name: projects/401832599639/locations/us-central1/datasets/TBL7687283924107526144/tableSpecs/5409614800843964416/columnSpecs/3219937394128060416
Column spec id: 3219937394128060416
Column spec display name: dropoff_latitude
Column spec data type: type_code: FLOAT64

Column spec name: projects/401832599639/locations/us-central1/datasets/TBL7687283924107526144/tableSpecs/5409614800843964416/columnSpecs/8408084164858871808
Column spec id: 8408084164858871808
Column spec display name: dropoff_longitude
Column spec data type: type_code: FLOAT64

Column spec name: projects/401832599639/locations/us-central1/datasets/TBL7687283924107526144/tableSpecs/5409614800843964416/columnSpecs/7255162660252024832
Column spec id: 7255162660252024832
Column spec display name: start_month
Column spec data type: type_code: FLOAT64

Column spec name: projects/401832599639/locations/us-central1/datasets/TBL7687283924107526144/tableSpecs/5409614800843964416/columnSpecs/7831623412555448320
Column spec id: 7831623412555448320
Column spec display name: start_hour
Column spec data type: type_code: FLOAT64

Column spec name: projects/401832599639/locations/us-central1/datasets/TBL7687283924107526144/tableSpecs/5409614800843964416/columnSpecs/2643476641824636928
Column spec id: 2643476641824636928
Column spec display name: dayOfWeek
Column spec data type: type_code: CATEGORY

Column spec name: projects/401832599639/locations/us-central1/datasets/TBL7687283924107526144/tableSpecs/5409614800843964416/columnSpecs/5525780403341754368
Column spec id: 5525780403341754368
Column spec display name: trip_seconds
Column spec data type: type_code: FLOAT64

Column spec name: projects/401832599639/locations/us-central1/datasets/TBL7687283924107526144/tableSpecs/5409614800843964416/columnSpecs/6102241155645177856
Column spec id: 6102241155645177856
Column spec display name: dayOfYear
Column spec data type: type_code: FLOAT64

Column spec name: projects/401832599639/locations/us-central1/datasets/TBL7687283924107526144/tableSpecs/5409614800843964416/columnSpecs/1490555137217789952
Column spec id: 1490555137217789952
Column spec display name: price_per_mile
Column spec data type: type_code: FLOAT64

target_column_spec_id: 1490555137217789952

### get dataset

In [6]:
! python dataset.py get_dataset --dataset_id TBL7687283924107526144

Dataset name: projects/401832599639/locations/us-central1/datasets/TBL7687283924107526144
Dataset id: TBL7687283924107526144
Dataset display name: train
Dataset metadata:
	primary_table_spec_id: "5409614800843964416"
stats_update_time {
  seconds: 1564496993
  nanos: 135000000
}

Dataset example count: 27589
Dataset create time:
	seconds: 1564496871
	nanos: 340824000

### get table spec info

In [7]:
! python dataset.py get_table_spec --dataset_id TBL7687283924107526144 --table_spec_id 5409614800843964416

Table spec name: projects/401832599639/locations/us-central1/datasets/TBL7687283924107526144/tableSpecs/5409614800843964416
Table spec id: 5409614800843964416
Table spec time column spec id:
Table spec row count: 27589
Table spec column count: 11

### get column spec id

In [8]:
! python dataset.py get_column_spec --dataset_id TBL7687283924107526144 --table_spec_id 5409614800843964416 --column_spec_id 1490555137217789952

Column spec name: projects/401832599639/locations/us-central1/datasets/TBL7687283924107526144/tableSpecs/5409614800843964416/columnSpecs/1490555137217789952
Column spec id: 1490555137217789952
Column spec display name: price_per_mile
Column spec data type: type_code: FLOAT64

Column spec data stats: distinct_value_count: 3249
float64_stats {
  mean: 6.26339242877
  standard_deviation: 4.0244233649
  quantiles: 0.00172413793103
  quantiles: 4.16666666667
  quantiles: 5.38461538462
  quantiles: 6.875
  quantiles: 95.0
  histogram_buckets {
    min: -inf
    max: 9.50155172414
    count: 25103
  }
  histogram_buckets {
    min: 9.50155172414
    max: 19.0013793103
    count: 2239
  }
  histogram_buckets {
    min: 19.0013793103
    max: 28.5012068966
    count: 118
  }
  histogram_buckets {
    min: 28.5012068966
    max: 38.0010344828
    count: 67
  }
  histogram_buckets {
    min: 38.0010344828
    max: 47.500862069
    count: 15
  }
  histogram_buckets {
    min: 47.500862069
    max: 57.0006896552
    count: 11
  }
  histogram_buckets {
    min: 57.0006896552
    max: 66.5005172414
    count: 17
  }
  histogram_buckets {
    min: 66.5005172414
    max: 76.0003448276
    count: 6
  }
  histogram_buckets {
    min: 76.0003448276
    max: 85.5001724138
    count: 10
  }
  histogram_buckets {
    min: 85.5001724138
    max: inf
    count: 3
  }
}
valid_value_count: 27589

Column spec top correlated columns

### set target column

In [9]:
! python dataset.py update_dataset --dataset_id TBL7687283924107526144 --target_column_spec_id 1490555137217789952

Dataset updated. name: "projects/401832599639/locations/us-central1/datasets/TBL7687283924107526144"
display_name: "train"
create_time {
  seconds: 1564496871
  nanos: 340824000
}
etag: "AB3BwFq372u9hlP1Gpky6KuWjnHECjpwp98fF9qhhwEbNP4NWaCANjXvX-qx2QPnd_qj"
example_count: 27589
tables_dataset_metadata {
  primary_table_spec_id: "5409614800843964416"
  target_column_spec_id: "1490555137217789952"
  stats_update_time {
    seconds: 1564496993
    nanos: 135000000
  }
}

# model.py

### list most recent model

In [10]:
! python model.py list_models

List of models:
Model name: projects/401832599639/locations/us-central1/models/TBL2266814744474157056
Model id: TBL2266814744474157056
Model display name: demo3_v2
Target column display name: price_per_mile
Training budget in node milli hours: 5000
Training cost in node milli hours: 1896
Model create time:
	seconds: 1563997966
	nanos: 318460000
Model deployment state: undeployed

### training model

In [ ]:
! python model.py create_model --dataset_id TBL7687283924107526144 --model_name demo3_v2 --train_budget_milli_node_hours 5000

Training model...
Training operation name: projects/401832599639/locations/us-central1/operations/TBL3051905629124820992

### get status

In [13]:
! python model.py get_operation_status --operation_full_id "projects/401832599639/locations/us-central1/operations/TBL3051905629124820992"

Operation status: name: "projects/401832599639/locations/us-central1/operations/TBL3051905629124820992"
metadata {
  type_url: "type.googleapis.com/google.cloud.automl.v1beta1.OperationMetadata"
  value: "\032\014\010\220\253\201\352\005\020\210\346\222\352\002\"\014\010\255\357\201\352\005\020\220\341\313\313\003R\000"
}
done: true
response {
  type_url: "type.googleapis.com/google.cloud.automl.v1beta1.Model"
  value: "\nIprojects/401832599639/locations/us-central1/models/TBL1845165229361594368"
}

### list existing model again

In [14]:
! python model.py list_models

List of models:
Model name: projects/401832599639/locations/us-central1/models/TBL573461284582850560
Model id: TBL573461284582850560
Model display name: test_demo
Target column display name: price_per_mile
Training budget in node milli hours: 5000
Training cost in node milli hours: 2748
Model create time:
	seconds: 1564496817
	nanos: 269715000
Model deployment state: undeployed

### get model metadata

In [15]:
! python model.py get_model --model_id TBL573461284582850560

Model name: projects/401832599639/locations/us-central1/models/TBL573461284582850560
Model id: TBL573461284582850560
Model display name: test_demo
Model metadata:
target_column_spec {
  name: "projects/401832599639/locations/us-central1/datasets/TBL975513104441933824/tableSpecs/2068506827288477696/columnSpecs/6904655945503080448"
  data_type {
    type_code: FLOAT64
  }
  display_name: "price_per_mile"
}
input_feature_column_specs {
  name: "projects/401832599639/locations/us-central1/datasets/TBL975513104441933824/tableSpecs/2068506827288477696/columnSpecs/9210498954716774400"
  data_type {
    type_code: FLOAT64
  }
  display_name: "trip_miles"
}
input_feature_column_specs {
  name: "projects/401832599639/locations/us-central1/datasets/TBL975513104441933824/tableSpecs/2068506827288477696/columnSpecs/8057577450109927424"
  data_type {
    type_code: FLOAT64
  }
  display_name: "pickup_latitude"
}
input_feature_column_specs {
  name: "projects/401832599639/locations/us-central1/datasets/TBL975513104441933824/tableSpecs/2068506827288477696/columnSpecs/4625834534053609472"
  data_type {
    type_code: FLOAT64
  }
  display_name: "pickup_longitude"
}
input_feature_column_specs {
  name: "projects/401832599639/locations/us-central1/datasets/TBL975513104441933824/tableSpecs/2068506827288477696/columnSpecs/2872526904122933248"
  data_type {
    type_code: FLOAT64
  }
  display_name: "dropoff_latitude"
}
input_feature_column_specs {
  name: "projects/401832599639/locations/us-central1/datasets/TBL975513104441933824/tableSpecs/2068506827288477696/columnSpecs/2319991524839915520"
  data_type {
    type_code: FLOAT64
  }
  display_name: "dropoff_longitude"
}
input_feature_column_specs {
  name: "projects/401832599639/locations/us-central1/datasets/TBL975513104441933824/tableSpecs/2068506827288477696/columnSpecs/2292969927075692544"
  data_type {
    type_code: FLOAT64
  }
  display_name: "start_month"
}
input_feature_column_specs {
  name: "projects/401832599639/locations/us-central1/datasets/TBL975513104441933824/tableSpecs/2068506827288477696/columnSpecs/7484212922550321152"
  data_type {
    type_code: FLOAT64
  }
  display_name: "start_hour"
}
input_feature_column_specs {
  name: "projects/401832599639/locations/us-central1/datasets/TBL975513104441933824/tableSpecs/2068506827288477696/columnSpecs/4598812936289386496"
  data_type {
    type_code: CATEGORY
  }
  display_name: "dayOfWeek"
}
input_feature_column_specs {
  name: "projects/401832599639/locations/us-central1/datasets/TBL975513104441933824/tableSpecs/2068506827288477696/columnSpecs/5178369913336627200"
  data_type {
    type_code: FLOAT64
  }
  display_name: "trip_seconds"
}
input_feature_column_specs {
  name: "projects/401832599639/locations/us-central1/datasets/TBL975513104441933824/tableSpecs/2068506827288477696/columnSpecs/14148515626221568"
  data_type {
    type_code: FLOAT64
  }
  display_name: "dayOfYear"
}
optimization_objective: "MINIMIZE_RMSE"
tables_model_column_info {
  column_spec_name: "projects/401832599639/locations/us-central1/datasets/TBL975513104441933824/tableSpecs/2068506827288477696/columnSpecs/2319991524839915520"
  column_display_name: "dropoff_longitude"
  feature_importance: 4.69584655605e-08
}
tables_model_column_info {
  column_spec_name: "projects/401832599639/locations/us-central1/datasets/TBL975513104441933824/tableSpecs/2068506827288477696/columnSpecs/5178369913336627200"
  column_display_name: "trip_seconds"
  feature_importance: 0.261984854937
}
tables_model_column_info {
  column_spec_name: "projects/401832599639/locations/us-central1/datasets/TBL975513104441933824/tableSpecs/2068506827288477696/columnSpecs/9210498954716774400"
  column_display_name: "trip_miles"
  feature_importance: 0.699749410152
}
tables_model_column_info {
  column_spec_name: "projects/401832599639/locations/us-central1/datasets/TBL975513104441933824/tableSpecs/2068506827288477696/columnSpecs/14148515626221568"
  column_display_name: "dayOfYear"
  feature_importance: 0.00766194378957
}
tables_model_column_info {
  column_spec_name: "projects/401832599639/locations/us-central1/datasets/TBL975513104441933824/tableSpecs/2068506827288477696/columnSpecs/4598812936289386496"
  column_display_name: "dayOfWeek"
  feature_importance: 0.00163657974917
}
tables_model_column_info {
  column_spec_name: "projects/401832599639/locations/us-central1/datasets/TBL975513104441933824/tableSpecs/2068506827288477696/columnSpecs/2872526904122933248"
  column_display_name: "dropoff_latitude"
  feature_importance: 0.0127641083673
}
tables_model_column_info {
  column_spec_name: "projects/401832599639/locations/us-central1/datasets/TBL975513104441933824/tableSpecs/2068506827288477696/columnSpecs/7484212922550321152"
  column_display_name: "start_hour"
  feature_importance: 0.00367204658687
}
tables_model_column_info {
  column_spec_name: "projects/401832599639/locations/us-central1/datasets/TBL975513104441933824/tableSpecs/2068506827288477696/columnSpecs/4625834534053609472"
  column_display_name: "pickup_longitude"
  feature_importance: 4.69584655605e-08
}
tables_model_column_info {
  column_spec_name: "projects/401832599639/locations/us-central1/datasets/TBL975513104441933824/tableSpecs/2068506827288477696/columnSpecs/2292969927075692544"
  column_display_name: "start_month"
  feature_importance: 0.00608378648758
}
tables_model_column_info {
  column_spec_name: "projects/401832599639/locations/us-central1/datasets/TBL975513104441933824/tableSpecs/2068506827288477696/columnSpecs/8057577450109927424"
  column_display_name: "pickup_latitude"
  feature_importance: 0.00644718389958
}
train_budget_milli_node_hours: 5000
train_cost_milli_node_hours: 2748

Model create time:
	seconds: 1564496817
	nanos: 269715000
Model deployment state: undeployed

### list existing model eval

In [16]:
! python model.py list_model_evaluations --model_id TBL573461284582850560

List of most recent model evaluations:
Model evaluation name: projects/401832599639/locations/us-central1/models/TBL573461284582850560/modelEvaluations/9119363279356331151
Model evaluation id: 9119363279356331151
Model evaluation example count: 2730
Model evaluation time:
	seconds: 1564506840
	nanos: 830440000

### get evaluation

In [17]:
! python model.py get_model_evaluation --model_id TBL573461284582850560 --model_evaluation_id 9119363279356331151

name: "projects/401832599639/locations/us-central1/models/TBL573461284582850560/modelEvaluations/9119363279356331151"
create_time {
  seconds: 1564506840
  nanos: 830440000
}
evaluated_example_count: 2730

### display evaluation

In [18]:
! python model.py display_evaluation --model_id TBL573461284582850560

Model regression metrics:
Model RMSE: 0.701361298561
Model MAE: 0.191221699119
Model MAPE: 2.81096339226
Model R^2: 0.96477496624

### deploy

In [19]:
! python model.py deploy_model --model_id TBL573461284582850560

Model deployed.

# predict.py

### batch prediction

In [20]:
! python predict.py batch_predict --model_id TBL573461284582850560 --input_path "bq://hackathon1-183523.demo3_v2.test" --output_path "bq://hackathon1-183523"

Making batch prediction...
Batch prediction complete.
create_time {
  seconds: 1564509019
  nanos: 115143000
}
update_time {
  seconds: 1564509172
  nanos: 622171000
}
batch_predict_details {
  input_config {
    bigquery_source {
      input_uri: "bq://hackathon1-183523.demo3_v2.test"
    }
  }
  output_info {
    bigquery_output_dataset: "bq://hackathon1-183523.prediction_test_demo_2019_07_30T10_50_19_032Z"
  }
}

### online prediction

In [83]:
! python predict.py predict --model_id TBL573461284582850560 --file_path 'test.csv'

{'payload': {'row': {'values': [1.4, 41.880994471, -87.632746489, 41.89321636, -87.63784421, 1.0, 5.0, 3.0, 614.0, 16.0]}}}
{
  "payload": [
    {
      "tables": {
        "value": 5.6498265266418457,
        "predictionInterval": {
          "start": 5.0159544944763184,
          "end": 10.733982086181641
        }
      }
    }
  ]
}
0
{'payload': {'row': {'values': [1.11, 41.892042136, -87.63186395, 41.900221297, -87.629105186, 5.0, 19.0, 6.0, 597.0, 138.0]}}}
{
  "payload": [
    {
      "tables": {
        "value": 6.6522116661071777,
        "predictionInterval": {
          "start": 5.19624137878418,
          "end": 10.733982086181641
        }
      }
    }
  ]
}
0
Done prepare payload for online prediction.

In [80]:
! curl -X POST -H "Content-Type: application/json" \
  -H "Authorization: Bearer $(gcloud auth application-default print-access-token)" \
  https://automl.googleapis.com/v1beta1/projects/hackathon1-183523/locations/us-central1/models/TBL6421666875700150272:predict \
  -d @request.json

{
  "payload": [
    {
      "tables": {
        "value": 8.3914804458618164,
        "predictionInterval": {
          "start": 6.6885089874267578,
          "end": 12.913139343261719
        }
      }
    }
  ]
}